@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

h1, li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: sticky;
    top: 0;
    height: 15vh;
    opacity: 1;
    z-index: 100;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.nav_links li {
    display: inline-block;
    align-items: center;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.cta {
    padding: 0px 20px;
    @media only screen and (max-width: 600px) {
        font-size: 10px;
        padding: 0px 2px;
      }
}

div {
    text-align: center;
}

.keyframe-greetings:before {
    content: 'Hello! \A My name is William Moses';
    animation: animate infinite 8s;
    animation-delay: 1s;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 5rem;
    color: #edf0f1;
    white-space: pre-wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    height: 100%;
}
@keyframes animate {
    0% {
        
        content: 'Hello! \AMy name is William Moses';
    }
    25% {
        
        content: 'Halo! \ANama saya William Moses';
    }
    50% {
       
        content: 'こんにちは！\A私の名前はウイリアムです';
    }
    75% {
        
        content: '你好\A我叫伟廉';
    }
}

h2 {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    text-align: center;
    font-size: 3rem;
    color: #edf0f1;
}

.wrapper {
    text-align: center;
    box-sizing: content-box;
    background-color: #24252A;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: auto;
    vertical-align: middle;
    display: flex;
}