@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
    height: 100vh;
    padding-top: 15vh;
}

#media_container {
    width: 45%;
    margin-right: 50px;
}

#button_container {
    width: 100%;
    text-align: center;
    position: relative;
    top: -30px;
}

#button_container a {
    background-color: rgba(0, 136, 169, 0);
}

/* Title Style */

.title h1 {
    font-size: 2rem;
    color: #edf0f1;
    text-align: center;
}

#PCGtext {
    margin-left: 50px;
    width: 45%;
}

#PCGtext p {
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    line-height: 1.5;
    text-align: justify;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin: 0px 50px 0px 50px;
}

button span {
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    font-size: 1rem;
    background-color: rgba(0, 136, 169, 0);
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}   

.screenshot {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.video {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-bottom: 50px;
}

/* Image Style */
@media (min-width: 100px) {
    .pcg_img {
        width: 100%;
        max-width: 400px;
        height: auto;
        margin: 0px 0px 70px 0px;
    }
}